@font-face {
  font-family: "Alata";
  font-weight: 400;
  src: url(../static/fonts/Alata-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Josefin";
  font-weight: 300;
  src: url(../static/fonts/JosefinSans-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}